blendmodes
accelerate
fonts
font-roboto
gfpgan
gradio==3.15.0
numpy
opencv-contrib-python
requests
piexif
Pillow
pytorch_lightning==1.7.7
realesrgan
scikit-image>=0.19
timm==0.4.12
transformers==4.25.1
jsonmerge
clean-fid
resize-right
torchdiffeq
lark
inflection
GitPython
torchsde
safetensors
psutil
fairscale==0.4.4
pycocoevalcap
addict
future
lmdb
opencv-python
pyyaml
scipy
tb-nightly
tqdm
yapf
lpips
gdown
clip-anytorch
wandb
albumentations==0.4.3
pudb==2019.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
torchmetrics==0.7
omegaconf==2.1.1
test-tube>=0.7.5
streamlit>=0.73.1
einops==0.5.0
webdataset==0.2.5
open-clip-torch==2.7.0
kornia==0.6
invisible-watermark>=0.1.5
streamlit-drawable-canvas==0.8.0
basicsr
xformers