fairscale==0.4.4
pycocoevalcap
addict
future
lmdb
pyyaml
scipy
tb-nightly==2.13.0a20230317
yapf
lpips
gdown # supports downloading the large file from Google Drive
clip-anytorch
scipy
torchvision
wandb
albumentations==0.4.3
opencv-python
pudb==2019.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
omegaconf==2.1.1
test-tube>=0.7.5
streamlit>=0.73.1
einops==0.6.0
webdataset==0.2.5
open-clip-torch==2.7.0
kornia==0.6
invisible-watermark>=0.1.5
streamlit-drawable-canvas==0.8.0
svglib
accelerate==0.17.1
bitsandbytes==0.35.4
dadaptation==1.5.0
diffusers~=0.14.0
discord-webhook~=1.1.0
fastapi~=0.90.1
gitpython~=3.1.31
lion-pytorch~=0.0.7
tensorboard~=2.12.0
tensorflow==2.12.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos==2.11.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-metal; sys_platform == 'darwin' and platform_machine == 'arm64'
tqdm~=4.64.1
blendmodes
basicsr
fonts
font-roboto
gfpgan
gradio==3.23
numpy
opencv-contrib-python
requests
piexif
Pillow
pytorch-lightning==2.0.0
realesrgan
scikit-image>=0.19
timm==0.4.12
transformers==4.25.1
torch
einops==0.6.0
jsonmerge
clean-fid
resize-right
torchdiffeq
lark
inflection
torchsde
safetensors
psutil
rich
google-auth-oauthlib==0.4.6
xformers==0.0.17.dev483
torchmetrics
